// Text colors
text-color-variant(".text-primary", $primary-color)
text-color-variant(".text-secondary", $secondary-color-dark)
text-color-variant(".text-gray", $gray-color)
text-color-variant(".text-light", $light-color)
text-color-variant(".text-dark", $body-font-color)
text-color-variant(".text-success", $success-color)
text-color-variant(".text-warning", $warning-color)
text-color-variant(".text-error", $error-color)
// Background colors
bg-color-variant(".bg-primary", $primary-color)
bg-color-variant(".bg-secondary", $secondary-color)
bg-color-variant(".bg-dark", $dark-color)
bg-color-variant(".bg-gray", $bg-color)
bg-color-variant(".bg-success", $success-color)
bg-color-variant(".bg-warning", $warning-color)
bg-color-variant(".bg-error", $error-color)